{{ form_start(form) }}
<form method="POST" class="forms-sample ">



    {#
     <div class="form-group" >
          <label class="control-label">Name</label>
          {{ form_widget(form.name,{'attr': {'class': 'form-control'}})}}
      </div>
    <div class="form-group">
          <label  class="control-label">Lastname</label>

          {{ form_widget(form.lastname,{'attr': {'class': 'form-control'}})}}
      </div>#}
    <div class="form-group" >
        <label  class="control-label">Type</label>
        {{ form_widget(form.type,{'attr': {'class': 'form-control'}})}}
    </div>


    <div class="form-group" >
        <label class="control-label">summary </label>
        {{ form_widget(form.summary,{'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group" >
        <label class="control-label">description </label>
        {{ form_widget(form.description,{'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group" >
        <label class="control-label">priority </label>
        {{ form_widget(form.priority,{'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group" >
        <label class="control-label">status </label>
        {{ form_widget(form.status,{'attr': {'class': 'form-control'}})}}
    </div>



    <div class="text-right">
        <button type="button" class="btn btn-light " data-dismiss="modal">Close</button>
        {{ form_widget(form.save,{'attr': {'class': 'btn btn-primary'}})}}
    </div>


    {{ form_end(form) }}
