{% for message in app.flashes('updateError') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}

<form method="post">


    <input type="text" id="vall" placeholder="new Value progress " name="val">


<input type="submit" class="btn btn-primary" value="Edit Progress" >
</form>

<link rel="shortcut icon" href="{{ asset('Template/assets/images/favicon.ico') }}">
<!-- third party css -->
<link href="{{ asset('Template/assets/css/vendor/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ asset('Template/assets/css/vendor/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- App css -->
<link href="{{ asset('Template/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('Template/assets/css/app.min.css') }}" rel="stylesheet" type="text/css" id="light-style" />
<link href="{{ asset('Template/assets/css/app-dark.min.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
<script src="{{ asset('Template/assets/js/vendor.min.js') }}"></script>
<script src="{{asset('Template/assets/js/app.min.js')}}"></script>

<!-- third party js -->
<script src="{{asset('Template/assets/js/vendor/apexcharts.min.js')}}"></script>
<script src="{{asset('Template/assets/js/vendor/jquery-jvectormap-1.2.2.min.js')}}"></script>
<script src="{{asset('Template/assets/js/vendor/jquery-jvectormap-world-mill-en.js')}}"></script>
<script src="{{asset('Template/assets/js/pages/demo.dashboard.js')}}"></script>